:root {
    --primary-color: #0957d0;
    --primary-transparent-color: #c0e5fe;
    --primary-transparent-color2: #a3d5f7;
    --background-color: #f7fafd;
    --hover-color: #ebf4fd;
    --black1: #001d35;
    --black2: #797777;
    --orange: #e99b0a;
    --white1:#eff3fb;
    --orange-t: #e99b0a49;
    --red: #e9370a;
    --red-t: #e9370a65;
    --gray-t : #e3e7e7;
    --gray-2 : #e8effa;
    --secondary-color : #f1f3f4;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--black1);
    height: 100vh;
    transition: all ease-in-out 0.3s;
}

button{
    color: var(--black1);
}

i{
    font-size: 20px;
}

a{
    text-decoration: none;
}

small{
    font-size: 13px;
    font-weight: 700;
}

.row-block{
    display: flex;
}

.column-block{
    display: flex;
    flex-direction: column;
}

.al-it-center{
    align-items: center;
}

.al-it-left{
    align-items: left;
}

.al-it-end{
    align-items: end;
}

.al-self-center{
    align-self: center;
}

.al-self-left{
    align-self: left;
}

.al-self-end{
    align-self: right;
}

.just-self-center{
    justify-self: center;
}

.just-self-left{
    justify-self: left;
}

.just-self-end{
    justify-self: end;
}

.just-cont-center{
    justify-content: center;
}

.just-cont-space-between{
    justify-content: space-between;
}

.just-cont-left{
    justify-content: left;
}

.just-cont-end{
    justify-content: end;
}

.default-gap{
    display: flex;
    gap: 10px;
}

.gap-big{
    display: flex;
    gap: 20px;
}

.default-padding{
    padding: 10px;
}

.default-margin{
    padding: 10px;
}

.default-mg-top{
    margin-top: 15px;
}

.dropdown-content{
    padding: 5px 0px;
    background-color: var(--white1);
}

.flex-wrap--wrap{
    flex-wrap: wrap;
}

.center{
    align-items: center;
    justify-content: center;
}

.clickable-background:hover{
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    background-color: var(--gray-t);
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.topbar{
    display: grid;
    grid-template-columns: 3.2fr 0.8fr;
    padding: 5px 10px 0px 10px;
    height: 65px;
}

.left-navigation{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px 15px;
    width: 284px;
    transition: all ease-in-out 0.3s;
}

.left-navigation-hidden{
    transform: translateX(-100%);
    position: absolute;
}

.main-side{
    display: flex;
    margin-top: 28px;
    width: 100%;
    height: 100%;
    transition: all ease 0.3s;
}

.main-frame{
    padding: 30px 20px 0px 45px;
    border-radius: 20px;
    background-color: white;
    margin: 0 20px 30px 20px;
    transition: all ease 0.3s;
    width: calc(100% - 248px);
}

.main-frame-fill-side{
    width: 100%;
    transition: all ease 0.3s;
}

.left-block, .right-block{
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
}

.horizontal-separator{
    width: 100%;
    height: 1px;
    background-color: #a09f9f;
}

.menu-bars-container{
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}

.menu-bars-container i{
    padding: 15px;
    font-size: 20px;
    color: var(--black1);
}

#menu-check{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.logo-img{
    width: 40px;
    height: 40px;
}

.logo-link{
    color: var(--black2);
    font-size: 23px;
    font-weight: 100;
    gap: 10px;
}

.search-container{
    display: flex;
    padding-left: 5px;
    margin-left: 88px;
    background-color: var(--secondary-color);
    border-radius: 15px 15px 0px 0px;
    transition: all ease-in-out 0.2s;
    width: 100%;
}

.search-container:focus-within{
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.search-container input{
    font-size: 16px;
    padding: 5px;
    width: 100%;
    background-color: transparent;
    border: none;
    margin: 0px 10px 0px 0px;
}

input:focus{
    outline: none;
}

.search-container i{
    cursor: pointer;
    color: var(--black2);
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
}

.user-profil-container{
    padding:3px;
    border-radius: 50%;
}

.user-profil-container i{
    font-size: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}

.add-icon{
    font-size: 24px;
}

.btn{
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    border: none;
    transition: all ease-in-out 0.2s;
}

.btn-primary{
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    font-size: 15px;
}

.menu-btn{
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
}

.small-btn{
    font-size: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    border: solid 2px var(--gray-t);
}

.small-btn i{
    font-size: 15px;
}

.btn:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 4px 0px, rgba(60, 64, 67, 0.15) 0px 2px 5px 1px;
}

.btn:disabled{
    color: var(--black2);
    background-color: #fafafa;
    cursor: default;
}

.btn:disabled:hover{
    color: var(--black2);
    background-color: #fafafa;
    box-shadow: none;
}

.btn-primary:disabled{
    background-color: #fafafa;
    color: var(--black2);
}

.add-contact-btn-container #dropdown-check{
    width: 201px;
}

#dropdown-check:hover ~ .btn{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 4px 0px, rgba(60, 64, 67, 0.15) 0px 2px 5px 1px;
}

.btn-secondary{
    font-size: 1.05rem;
    height: 56px;
    border-radius: 15px;
    padding: 30px 23px;
    background-color: var(--primary-transparent-color);
    color: var(--black1);
}

.btn-action{
    color: var(--primary-color);
    background-color: var(--gray-2);
}

.float-btn{
    position: absolute;
    bottom: 35px;
    right: 25px;
    padding: 15px 18px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 4px 0px, rgba(60, 64, 67, 0.15) 0px 2px 5px 1px;
}

.float-btn:hover{
    background-color: var(--primary-transparent-color2);
}

.selected-btn-secondary{
    background-color: var(--primary-transparent-color);
    transition: all ease-in-out 0.2s;
    font-weight: 700;
}

.selected-btn-secondary:hover{
    background-color: var(--primary-transparent-color2);
}

.libelle-title{
    padding: 15px;
}

.libelle-title i{
    padding: 10px;
    border-radius: 50%;
}

.frame-title{
    margin: 0px;
    font-weight: 500;
    font-size: 1.6rem;
}

#contacts-table{
    margin-top: 15px;
}

th, td{
    text-align: start;
}

#contacts-table thead tr th{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--gray-t);
}

#contacts-table tbody tr td{
    margin-right: 5px;
}

#contacts-table tbody tr:hover{
    cursor: pointer;
    background-color: var(--hover-color);
    transition: all ease-in-out 0.15s;
}

#contacts-table tbody tr:hover .contact-profile{
    opacity: 0;
}

#contacts-table tbody tr{
    position: relative;
}

.selected-row{
    background-color: var(--primary-transparent-color);
}

.hide{
    opacity: 0;
}

.show{
    opacity: 1;
}

.contact-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--white1);
}

.contact-form-container{
    max-width: 680px;
    height: 100%;
}

.top-controls{
    background-color: white;
}

.profile-container{
    position: relative;
    width: fit-content;
}

.profile-container img{
    width: 162px;
    height: 162px;
    border-radius: 50%;
}

.choose-img-btn{
    position: absolute;
    cursor: pointer;
    bottom: 5px;
    font-size: 16px;
    padding: 13px ;
    color: white;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 3px solid white;
    right: 0px;
}

.inputs-container{
    overflow-y: scroll;
    height: 100%;
    padding: 10px 20px;
    width: 100%;
}

.inputs-section{
    gap: 15px;
}

.ic{
    margin-top: 18px;
}

.inputs-section-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputs .input-container{
    margin: 10px 0px;
}

.inputs{
    width: 100%;
}

.libelle-select{
    width: fit-content;
    margin: 20px 0px 40px 10px;
}

.libelles-inputs-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    padding: 15px 0px;
    gap: 10px;
}

.libelles-inputs-container #add-label-btn{
    width: 100%;
}

.libelles-inputs-container #add-label-btn i{
    font-size: 15px;
    margin: 10px;
    margin-left: 30px;
}

#contacts-table tbody tr:hover .contact-controls{
    opacity: 1;
    z-index: 10;
    
}

.contact-controls{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px 10px 0px 17px;
    transition: all ease-in-out 0.3s;
}

.contact-controls:hover .right-contacts-controls{
    opacity: 1;
}

.contact-controls input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

.contact-controls input[type="checkbox"]:checked tr{
    background-color: var(--primary-transparent-color);
}

.right-contacts-controls{
    opacity: 0;
    margin-right: 17px;
    background-color: var(--hover-color);
    transition: all ease-in-out 0.2s;
}

.icon-btn{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 50%;
}

.lbl-model{
    padding: 3px;
    background-color: var(--primary-transparent-color2);
    border-radius: 10px;
}

.libelles-list{
    padding: 0px 15px 0% 15px;
}

.libelle-view{
    padding: 10px;
    border-radius: 20px;
}
